:root {
	--red: #5D1E27;
	--white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
}

h5 {
    font-weight: 400;
    font-size: 26px;
    margin: 20px 0;
}

.textBox h3 {
    color: var(--red);
}

.tk-ivymode {
    font-weight: 100;
}

.tk-neue-haas-unica {
    font-weight: 100;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--white);
}

header {
    background-image: linear-gradient(0deg, rgba(33, 33, 33, 0.734), rgba(45, 45, 45, 0.706)), url('../images/toms-rits-ryfptJi3fAM-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header nav ul {
    margin: 3vh 10vw 0 5vw;
    display: flex;
    display: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

header nav ul svg {
    height: 135px;
    width: 130px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul section {
    display: flex;
    gap: 60px;
}

header .heroText {
    color: var(--white);
    text-align: center;
    width: 400px;
    margin: auto;
}

header .bookingInfo {
    display: flex;
}

header .bookingInfo section {
    padding: 20px 65px;
    padding: 2vh 4.5vw;
    border-left: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    display: flex;
    align-items: center;
    gap: 15px;
}

header .bookingInfo svg {
    height: 20px;
    width: 20px;
}

header .bookingInfo section:last-child {
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
}

@media screen and (max-width: 812px) {
    nav {
        display: none;
    }

    .bookingInfo {
        display: none;
    }
}

main {
    margin: 5vw 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main .textBox:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

main .textBox:first-child {
    margin: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .autocamperDisplay {
    margin: 0 0 0 5vw;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    gap: 50px;
    overflow: auto;
    white-space: nowrap;
}

main .autocamperDisplay .autocamperImg {
    width: 100%;
}

main .autocamperDisplay .autocamper {
    width: 100%;
}

main .autocamperDisplay .autocamper section:first-child {
    position: relative;
}

main .autocamperDisplay .autocamper .autocamperPrice {
    padding: 25px 50px;
    width: fit-content;
    background-color: #EDE8DC;
    position: absolute;
    bottom: 25px;
}

main .autocamperDisplay .autocamper .infoBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main .autocamperDisplay .autocamper .infoBox section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

main .autocamperDisplay .autocamper .infoBox section p {
    font-size: 14px;
}

main .textBox {
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

main .textBox article {
    width: 40%;
}

main .textBox article p {
    width: 80%;
}

main .textBox img {
    width: 40%;
}

button {
    background-color: var(--red);
    color: var(--white);
    margin: 30px 0 0 0;
    height: 75px;
    width: 200px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}

main .instagramGallery {
    background-color: var(--red);
    padding: 7vw 5vw;
    display: flex;
    gap: 2.5vw;
}

main .instagramGallery section {
    position: relative;
}

main .instagramGallery section svg {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
}

main .instagramGallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
   -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

footer {
    background-color: var(--red);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

footer section {
    padding: 5vw;
    display: grid;
    grid-template-columns: 30% auto auto auto;
    gap: 5%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 20px;
}

footer p:last-child {
    margin: auto;
    margin-bottom: 25px;
}